<!-- <form class="" action="/" method="post">
    <input type="text" name="newItem" >
    <textarea id="w3review" name="w3review" rows="4" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
  <br>
    <button type="submit" name="button">Add</button>
   </form> -->
   <html>
    <head>
    <title>write</title>
    <link rel="stylesheet" href="/stylesheet/write.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,600&family=Lobster&family=Sassy+Frass&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <form method="post" action="/">
          <div class="title">
             <div class="title1">
                <input type="text" name="newItem"required placeholder="Title">
             </div>
             <div class="date">
                <input type="text" placeholder="Date">

             </div>

          </div>
          <div class="textare">
             <textarea name="w3review" placeholder="Tell your Story..." required></textarea>
          </div>
          <div class="submit">
              <input type="submit" value="submit">
          </div>
         </form>





    </body>
</html>